@font-face {
  font-family: 'Oswald';
  src: url('../_fonts/Oswald-Regular/Oswald-Regular.woff2') format('woff2'),
	   url('../_fonts/Oswald-Regular/Oswald-Regular.woff') format('woff'),
	   url('../_fonts/Oswald-Regular/Oswald-Regular.ttf')  format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: 'Oswald';
  src: url('../_fonts/Oswald-Medium/Oswald-Medium.woff2') format('woff2'),
	   url('../_fonts/Oswald-Medium/Oswald-Medium.woff') format('woff'),
	   url('../_fonts/Oswald-Medium/Oswald-Medium.ttf')  format('truetype');
  font-weight: 500;
}

html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	min-height: 100%;
}
body {
	min-height: 100vh;
	padding: 0px;
	margin: 0px;
	background: #fff;
	font-family: 'Open Sans', sans-serif;
}

img {
	max-width: 100%;
}
.mb-10 {
	margin-bottom: 10px;
}
.mb-20 {
	margin-bottom: 20px;
}
.mb-25 {
	margin-bottom: 25px !important;
}

#body-desk {
    min-height: 100vh;
    display: flex;
    align-items: center;	
	justify-content: center;
	min-height: 100vh;
	background-image: url(../_img/bg.png);
	background-size: cover;
	background-position:  0 0, 100% 0;
	background-repeat: no-repeat, no-repeat;
}
@media (max-width: 899px){
	#body-desk {
		display:none;
	}
}

#body-mob {
    display: none;
	min-height: 100vh;
	width: 100vw;
	background: url(../_img/bg_b-s.png) 0 100% no-repeat;
	background-size: 227px 176px;
	box-sizing: border-box;		
    position: relative;
}
@media (max-width: 899px){
	#body-mob {
		display: block;
	}
}

.body-mob-first-wrapper {
	background: url(../_img/bg_t-s.png) 0 0 no-repeat;
	background-size: 122px 597px;
}

#body-mob .container {
	padding-left: 15px;
	padding-right: 15px;	
    padding-top: 38px;
    padding-bottom: 37px;	
}

.container {
	/*width: 100vw;	*/
	position: relative;
}

.section-vcardbody {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column; 
}
@media (max-width: 899px){
	.section-vcardbody {
		display: block;
	}
}

.section-vcardbody__logo-list {
	display: flex;
	max-width: 560px;
	margin-top: -105px;
	margin-bottom: 45px;
	justify-content: space-between;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}
@media (max-width: 899px){
	.section-vcardbody__logo-list {
		margin-top: 0px;
		margin-bottom: 30px;
		display: block;
	}
}

.section-vcardbody__logo-list__item img {
	display: block;
}
@media (max-width: 899px){
	.section-vcardbody__logo-list__item img {
		margin-left: auto;
		margin-right: auto;
	}
}

@media (max-width: 899px){
	.section-vcardbody__logo-list__item {
		margin-bottom: 25px;
	}
	.section-vcardbody__logo-list__item:last-child {
		margin-bottom: 0;
	}
}

.section-vcardbody-inner {
	width: 960px;
	background: #FFFFFF;
	border-radius: 20px;
	box-shadow: 0px 10px 20px 4px rgba(72, 73, 77, 0.1);
	display: flex;
	justify-content: space-between;
	padding: 80px 100px;
	box-sizing: border-box;
}
@media (max-width: 899px){
	.section-vcardbody-inner {
		width: 100%;
		padding: 30px 20px;
	}
}

.section-vcardbody-left {
	width: 360px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-between;
}

.section-vcardbody__logo img {
	display: block;
}
@media (max-width: 899px){
	.section-vcardbody__logo {
		margin-bottom: 35px;
		display: flex;
		justify-content: flex-end;
	}	
}




.section-vcardbody-right {
	width: 360px;
}

@media (max-width: 899px){
	.vcard-profile-description {
		width: 100%;
		margin: 0 auto;
	}
}

.profile-name {
	font-weight: 700;	
	font-size: 22px;
	line-height: 30px;		
	margin-bottom: 20px;
	color: #000;
}

.profile-organization {
	font-weight: 600;	
	font-size: 22px;
	line-height: 25px;		
	color: #808080;
}

@media (max-width: 899px){
	.profile-name {
		margin-bottom: 26px;
		font-size: 20px;
		line-height: 27px;
	}
}

.btn {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0 10px 0 15px;
	height: 40px;
	background: #fff;
	box-sizing: border-box;
	border-radius: 5px;

}
@media (max-width: 899px){
	.btn {
		margin-bottom: 10px;
	}
}

.btn-link {
    background: #EC6163;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
    justify-content: center;
}

.btn img {
	margin-right: 15px;
}

.feature-group {
	display: flex;
	background: #ffffff;
	box-shadow: 0px 5px 12px rgba(72, 73, 77, 0.2);
	border-radius: 5px;
	justify-content: space-between;
	min-height: 40px;
	align-items: center;
	padding-left: 20px;
	padding-right: 20px;
}
.feature-group__item {
	display: flex;
	flex-direction: row;
	align-items: center;
	box-sizing: border-box;
	font-size: 16px;
	line-height: 19px;
	color: #808080;
	text-decoration: none;
	word-break: break-all;
	padding-top: 2px;
	padding-bottom: 2px;	
	width: 100%;
	font-weight: 600;
}

.feature-group__item img {
	display: block;
	margin-right: 20px;
}
@media (max-width: 899px){
	.feature-group__item img {
		margin-right: 15px;
	}	
}

.link-copy {
	margin-left: 20px;
	border-left: 1px solid #fff;
	padding-left: 10px;
	height: 22px;
}
.link-copy img {
	display: block;
	cursor: pointer;
	min-width: 22px;
}

.controls {
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}
.controls a {
	display: block;
	text-align: center;
	font-size: 14px;
	line-height: 19px;
	text-decoration: none;
	margin: 0 30px;
	cursor: pointer;
	color: #ABABAB;
}
.controls img {
	display: block;
	margin: 0 auto 15px;
	min-width: 70px;
}

.partner {
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	color: #ABABAB;	
	margin-top: 50px;
	text-align: right;
}
@media (max-width: 899px){
	.partner {
		text-align: right;
	}
}
.partner__logo {
	display: block;
	margin-top: 10px;
	float: right;
}
@media (max-width: 899px){
	.partner__logo {
		margin-left: auto;
	}
}

.disable {
	display: none!important;
}
















