html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	min-height: 100%;
}
body {
	min-height: 100vh;
	padding: 0px;
	margin: 0px;
	background: #fff;
	font-family: 'Open Sans', sans-serif;
}

img {
	max-width: 100%;
}
.mb-10 {
	margin-bottom: 10px;
}
.mb-20 {
	margin-bottom: 20px;
}
.mb-25 {
	margin-bottom: 25px !important;
}

#body-desk {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url(../_img/bg.png);
    background-size: cover;
    background-position: 100% 0;
    background-repeat: no-repeat;
}
@media (max-width: 899px){
	#body-desk {
		display:none;
	}
}

#body-mob {
    display: none;
	min-height: 100vh;
	width: 100vw;
    background-image: url(../_img/bg.png);
    background-size: cover;
    background-position: 0 0;
    background-repeat: no-repeat;
	padding-left: 32px;
	padding-right: 32px;
	box-sizing: border-box;		
    position: relative;
    padding-top: 124px;
}
@media (max-width: 899px){
	#body-mob {
		display: flex;
	}
}
@media (max-width: 480px){
	#body-mob {
		background-image: url(../_img/bg-t-s.png?2), url(../_img/bg-b-s.png);
		background-size: 100% 150px, contain;
		background-position:  0 0, 0 100%;
		background-repeat: no-repeat, no-repeat;
	}
}

.container {
	width: 100vw;	
	position: relative;
}

.section-vcardbody {
	box-sizing: border-box;    
	display: flex;
    align-items: center;
    justify-content: center;	 
}
@media (max-width: 899px){
	.section-vcardbody {
		display: block;
		padding-bottom: 80px;
	}
}

.section-vcardbody-inner {
	width: 960px;
	background: #FFFFFF;
	border-radius: 20px;
	box-shadow: 0px 10px 20px 4px rgba(72, 73, 77, 0.1);
	display: flex;
	justify-content: space-between;
	padding: 73px 100px;
	box-sizing: border-box;
}
@media (max-width: 899px){
	.section-vcardbody-inner {
		width: 100%;
		padding: 30px 20px;
	}
}

.section-vcardbody-left {
	width: 360px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-between;
}

.section-vcardbody__logo img {
	display: block;
}
@media (max-width: 899px){
	.section-vcardbody__logo {
		margin-bottom: 25px;
	}
}

.section-vcardbody-right {
	width: 360px;
}

@media (max-width: 899px){
	.vcard-profile-description {
		max-width: 480px;
		margin: 0 auto;
	}
}

.profile-name {
	font-weight: 700;	
	font-size: 22px;
	line-height: 30px;		
	margin-bottom: 20px;
	color: #000;
}
@media (max-width: 899px){
	.profile-name {
		margin-bottom: 10px;
		font-size: 20px;
		line-height: 27px;
		text-align: center;
	}
}

.profile-organization {
	font-weight: 600;	
	font-size: 18px;
	line-height: 25px;		
	color: #808080;
}
.profile-organization span {
	display: block;
	margin-top: 5px;
}

.profile-job {
	font-weight: 600;	
	font-size: 18px;
	line-height: 25px;
	color: #808080;
	margin: 0;
	text-align: center;
}
@media (max-width: 899px){
	.profile-job {	
		font-size: 14px;
		line-height: 19px;
		margin-bottom: 25px;
		margin-top: 0;
	}	
}

.profile-job span {
	display: block;
	margin-top: 5px;
}

.btn {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0 10px 0 15px;
	height: 40px;
	background: #fff;
	box-sizing: border-box;
	border-radius: 5px;

}
@media (max-width: 899px){
	.btn {
		margin-bottom: 10px;
	}
}

.btn-link {
    background: #B575D3;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
    justify-content: center;
}

.btn img {
	margin-right: 15px;
}

.feature-group {
	display: flex;
	background: #FFFFFF;
	box-shadow: 0px 5px 12px rgba(72, 73, 77, 0.2);
	border-radius: 5px;
	justify-content: space-between;
	min-height: 40px;
	align-items: center;
	padding-left: 20px;
	padding-right: 20px;
}

.feature-group__item {
	display: flex;
	flex-direction: row;
	align-items: center;
	box-sizing: border-box;
	font-size: 16px;
	line-height: 19px;
	color: #808080;
	text-decoration: none;
	word-break: break-all;
	padding-top: 2px;
	padding-bottom: 2px;	
	width: 100%;
	font-weight: 600;
}
@media (max-width: 899px){
	.feature-group__item {
		font-size: 14px;
	}
}

.feature-group__item img {
	display: block;
	margin-right: 20px;
}
@media (max-width: 899px){
	.feature-group__item img {
		margin-right: 15px;
	}	
}

.link-copy {
	margin-left: 20px;
	border-left: 1px solid #E6E6E6;
	padding-left: 10px;
	height: 22px;
}
.link-copy img {
	display: block;
	cursor: pointer;
	min-width: 22px;
}

.controls {
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}
.controls a {
	display: block;
	text-align: center;
	font-size: 14px;
	line-height: 19px;
	text-decoration: none;
	margin: 0 30px;
	cursor: pointer;
	color: #ABABAB;
}
.controls img {
	display: block;
	margin: 0 auto 15px;
	min-width: 70px;
}

.partner {
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	color: #808080;	
	margin-top: 50px;
	text-align: right;
}
@media (max-width: 899px){
	.partner {		
		margin-top: 25px;
	}
}
.partner__logo {
	display: block;
	margin-top: 10px;	
	margin-left: auto;
}

.disable {
	display: none!important;
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
	border-radius: .3rem;
	max-width: 500px;
  }

  .modal-header {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
  }

  .modal-header h5 {
	font-size: 1.25rem;
	margin: .5rem 0;
  }
  
  .closeModalButton {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
  }
  
  .closeModalButton:hover,
  .closeModalButton:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
  }














